extends layout

block content

    h1 #{recetteName}!

    img(src='#{img}')

    h3 Ingrédients
    ul
        each val in ingredients
            li= val
    h3 Ustensiles
    ul
        each val in ustensiles
            li= val
    h3 Etapes
    ul
        each val, index in etapes
            span= val + ' : '
            li= textEtapes[index]